*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.border-1 {
    height: 100%;
    width: 100%;
    border-radius: 200px 0px 0px 200px;
    border: 15px solid orange;
    display: flex;
    justify-content: center;
}
.border-2 img{
   height: 400px;
   width: 600px;
   border-radius: 300px 110px 110px 500px;
   border: 15px solid black;
   object-fit: cover;
}
.border-2{
    align-items: center;
    align-content: center;
}
